/* userslist */
#userlist > div:hover > .musrls{
    display: block;
}
.musrls{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background: rgba(204, 204, 204, 0.1);
}
.musrls > div{
    display: inline-block;
    white-space: nowrap;
}
/* end userslist */


/* messages */
.ustadmp{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
}
.ustadmp > div{
    display: inline-block;
    white-space: nowrap;
}
/* end messages */

.edadm{
    padding: 0 9px;
    border-radius: 4px;
    background: #7eb91f;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.marrg > div > div{
    padding: 10px 10px;
}