html{
    height: 100%;
}
body{
    position: relative;
    display: block;
    padding: 0; margin: 0;
    text-align: center;
    vertical-align: middle;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: normal;
}

/* all */
.table{
    display: inline-table;
}
.table > div{
    display: table-row;
}
.table > div > div{
    display: table-cell;
}
.tableonb{
    display: table;
}
.tableonb > div{
    display: table-cell;
}
.tableon{
    display: inline-table;
}
.tableon > div{
    display: table-cell;
}
.center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.verticalAlignTop{
    vertical-align: top;
}
.verticalAlign{
    vertical-align: middle;
}
input[type="text"]{
    padding: 1px 3px;
    border: 1px solid #969696;
    border-radius: 5px;
}
input[type="text"]:focus{
    outline: 0;
    box-shadow: 0 0 5px blue;
}
input[type="button"], input[type="submit"], input[type="file"], input[type="date"], input[type="time"], input[type="number"], select, .button{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* W3C */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 4px -1px #464646;
    -webkit-box-shadow: 0 3px 4px -1px #464646;
    box-shadow: 0 3px 4px -1px #464646;
    padding: 4px 12px;
    border: 0;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover, .button:hover{
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dfdfdf 0%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #dfdfdf 0%,#ffffff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #dfdfdf 0%,#ffffff 100%); /* W3C */
    -moz-box-shadow: 0 1px 1px 0 #666666;
    -webkit-box-shadow: 0 1px 1px 0 #666666;
    box-shadow: 0 1px 1px 0 #666666;
    cursor: pointer;
}
input[type="button"]:focus, input[type="submit"]:focus, input[type="file"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="number"]:focus, select:focus{
    outline: 0;
    -moz-box-shadow: 0 0 5px blue;
    -webkit-box-shadow: 0 0 5px blue;
    box-shadow: 0 0 5px blue;
}
input[type="date"], input[type="time"]{
    font-size: 15px;
}
.width100{
    width: 100%;
}
.wh100{
    width: 100%;
    height: 100%;
}
.inline{
    display: inline-block;
}
.relative{
    position: relative;
}
.none{
    display: none !important;
}
.block{
    display: block;
}
.button{
    display: inline-block;
}
.leftText{
    text-align: left;
}
/* title top */
.title7dTop{
    position: relative; display: inline-block;
}
.title7dTop > span:first-child{
    position: absolute; display: block; bottom: 100%; left: 90%; margin-bottom: 18px; padding: 3px 10px; line-height: 1;
    opacity: 0; visibility: hidden; z-index: 1;
    background: rgba(0,0,0,0.7); /* rgba(25,133,0,0.9); */ box-shadow: 0 1px 3px rgba(0,0,0,0.28); border-radius: 4px; color: #fff; font-weight: normal; font-size: 12px;
    -webkit-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -o-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -moz-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    white-space: nowrap; text-shadow: 0 1px 0 #262626;
}
.title7dTop > span:first-child > img{
    width: 50px;
}
.title7dTop > span:first-child:after{
    content:"";
    position: absolute; width: 0; height: 0; bottom: -5px; left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.6);
}
.title7dTop:hover > span:first-child{
    visibility: visible; opacity: 1; margin-bottom: 8px; z-index: 12;
}
/* tenb */
.lifted {
    position:relative;
    padding:1em;
    margin:2em 10px 4em;
    background:#38a0f3;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
}
.lifted:before,
.lifted:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}
/* end tenb */
/* tenb2 */
.tenb2{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.tenb2:before, .effect6:after{
    content:"";
    position:absolute; 
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.tenb2:after{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
    -moz-transform:skew(8deg) rotate(3deg);     
    -ms-transform:skew(8deg) rotate(3deg);     
    -o-transform:skew(8deg) rotate(3deg); 
    transform:skew(8deg) rotate(3deg);
}
/* end tenb2 */

/* checkbox */


/* checkbox green style */
.checkbox{
    display: inline-block;
    width: 18px;
    margin: 0 5px;
    position: relative;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 8px 8px rgba(200,200,200,0.1);
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
.checkbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 4px solid blue;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.checkbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/* reg */
.register{
    padding: 10px 20px;
}
.register > div{
    margin: 0 0 2px;
}
.register input[type="text"]{
    font-size: 16px;
    font-weight: bold;
}
.register > div:last-child{
    margin-top: 8px;
}
.podsk{
    position: absolute;
    display: none;
    top: 3px; left: 100%;
    margin-left: 8px;
    padding: 1px 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px #ccc;
    white-space: nowrap;
    color: #cc0000;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
}
.podtxt{
    position: relative;
    white-space: nowrap;
    color: #cc0000;
}
.podtxt:last-child{
    margin-left: 8px;
}
.regNfg{
    padding: 0;
    margin: 0;
    text-align: left;
    color: #fff600;
    font-size: 12px;
}
#fon{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(90, 90, 90, 0.4);
    z-index: 10;
    display: none;
}
#regster{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background: url(/img/body/all_style.png) 50% 50% no-repeat, url(/img/body/bgreg.png) repeat-x;
    overflow: hidden;
}
#polosirg{
    width: 100%;
    height: 100%;
    background: url(/img/body/polosireg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}
#contents input[type="text"]{
    padding: 1px 5px;
    border: 0px solid #969696;
    border-radius: 5px;
    width: 250px;
}
.textVhdzw{
    font-size: 18px;
    color: #fff;
}
#blkadapt{
    position: absolute;
    top: 30%;
    margin: auto;
    margin-top: 0px;
    width: 100%;
}
#idheigbl{
    position: absolute;
    display: inline-block;
    margin: auto;
    height: 100%;
    z-index: 10;
}
#contents{
    position: relative;
    display: block;
    z-index: 5;
}
#styl{
    position: relative;
    display: inline-block;
    margin: auto;
    margin-left: 320px;
    width: 253px;
    height: 387px;
    background: url(/img/body/kreslo.png) no-repeat;
}
#strelleft{
    position: absolute;
    left: 50%;
    top: 30%;
    margin-top: 15px;
    margin-left: 230px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.8);
    border-bottom: 5px solid transparent;
}
#textrg{
    position: absolute;
    left: 50%;
    top: 30%;
    padding: 10px;
    margin-top: 0px;
    margin-left: 240px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#logoreg{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-top: 0px;
    margin-left: -118px;
}
.buttonReg{
    padding: 4px 10px;
    background: url(/img/body/button_bg.png) repeat-x,
        url(/img/body/button_bg_effect.png) no-repeat;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.buttonReg:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.buttonReg:active{
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
}
.bottomBg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: url(/img/body/bottomBg.png) repeat-x; 
} 
.logo_bottom{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    bottom: 0px;
}
.textBottom{
    font-size: 12px;
    padding-top: 15px;
}
.headerwbbg{
    min-height: 79px;
    background: url(/img/body/headerwbbg.png) repeat-x;
}
.webinrBg{
    min-width: 100%;
    height: 100%;
    background: url(/img/body/webinrBg.png) repeat-x, #fff;
}
.webinp{
    margin: 0 auto;
    padding: 15px 0 0;
}
.webinp > a{
    display: inline-block;
}

.widblok{
    min-height: -moz-calc(100% - 130px);
    min-height: -webkit-calc(100% - 130px);
    min-height: calc(100% - 130px);
    padding: 0 1%;
}
.webblokinar{
    height: 100%; min-height: 300px; max-height: 1200px; width: 100%;
}
#infoblok{
    margin: 0 10px;
    padding: 6px 2px 8px;
    min-height: 43px;
}
#infoblok a{
    color: #35bdf6 !important
}
.maxWdthtb{
    width: 100%;
    max-width: 2000px;
    height: 100%;
}
.leftp{
    width: 20%;
}
.centerp{
    width: 40%;
}
.rightp{
    width: 20%;
}
.pdscent{
    padding: 5px 10px;
}
#messages{
    position: relative;
    max-height: -moz-calc(100% - 80px);
    max-height: -webkit-calc(100% - 80px);
    max-height: calc(100% - 80px);
    height: auto;
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: scroll;
    text-align: left;
    word-break: break-all;
}
#messages > div{
    position: relative;
    display: block;
    padding: 1px 5px;
    margin: 1px 2px 0;
    border: 0;
    /* box-shadow: 0 0 1px rgba(204, 204, 204, 0.5); */
    background: #fff;
    font-family: verdana;
    font-size: 12px;
    z-index: 1;
}
#messages > div > div:nth-child(1), #messages > div > div:nth-child(2), #messages > div > div:nth-child(3){
    display: inline-block;
    padding-right: 5px;
    font-weight: bold;
}
#messages img{
    margin: 0 1px;
}
#messages > div > div:nth-child(2) a{
    text-decoration: none;
    font-weight: bold;
    color: #131313;
}
#messages > div > div:nth-child(2) a:hover{
    text-decoration: underline;
}
#messages > div > div:nth-child(3) a{
    color: #35bdf6 !important;
}
#messages > div:hover > .ustadmp{
    display: block !important;
}
#messages span{
    font-style: italic;
    color: #ccc;
}
.profved{
    position: relative;
    width: 100%;
    /* height: 100%; */
    min-width: 200px;
    margin: 5px auto;
}
.headrblue{
    position: relative;
    padding: 0 0 0 20px;
    height: 25px;
    margin: 2px 0 0;
    background: url(/img/body/bluebg.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    font-size: 13px;
    color: #fff;
    line-height: 1.8;
    z-index: 2;
}
.headrblued{
    position: relative;
    padding: 0 0 0 20px;
    height: 25px;
    margin: 2px 0 0;
    background: url(/img/body/bluebg.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    font-size: 13px;
    color: #fff;
    line-height: 1.8;
    cursor: pointer;
    z-index: 2;
}
.headrblued:first-child{
    margin-top: 0;
}
.headrblued:before{
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    background: url(/img/body/strbottom.png) no-repeat;
    width: 12px;
    height: 11px;
}
.headrbluedtop{
    position: relative;
    padding: 0 0 0 20px;
    height: 25px;
    margin: 2px 0 0;
    background: url(/img/body/bluebg.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    font-size: 13px;
    color: #fff;
    line-height: 1.8;
    cursor: pointer;
    z-index: 2;
}
.headrbluedtop:first-child{
    margin-top: 0;
}
.headrbluedtop:before{
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    background: url(/img/body/strtop.png) no-repeat;
    width: 12px;
    height: 11px;
}
/* webinar menuhka */
#webinar{
    display: none;
    height: 100%; 
}
.helpmn{
    padding: 0;
    margin: 0;
    text-align: left;
    color: #3282ce;
}
.helpmn a{
    color: #3282ce;
    line-height: 1.2;
}
.btmwhile{
    position: relative;
    margin: 0 5px;
    padding: 5px;
    background: #d5d5d5; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#d5d5d5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#d5d5d5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#d5d5d5 100%); /* W3C */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #131313;
    text-align: center;
    cursor: pointer;
}
.superbtm > div{
    margin: 4px 5px;
    padding-left: 35px;
    text-align: left;
}
.btmic1:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 21px;
    height: 20px;
    background: url(/img/body/priglos.png) no-repeat;
}
.btmic2:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 21px;
    height: 19px;
    background: url(/img/body/ecran.png) no-repeat;
}
.btmic3:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 21px;
    height: 19px;
    background: url(/img/body/startzapis.png) no-repeat;
}
.btmic4:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 21px;
    height: 19px;
    background: url(/img/body/starttransl.png) no-repeat;
}
.btmic5:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 21px;
    height: 19px;
    background: url(/img/body/micro_off.png) no-repeat;
}
/* end webinar menuhka */
.edblk{
    display: none;
}
.fonfff{
    position: relative;
    padding: 5px 0;
    /* height: 100%; */
    background: #fff;
    border: 1px solid #c1c1c1;
    border-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgba(204, 204, 204, 0.1);
}
.fonfff input[type="text"]{
    border: 1px solid #ccc !important;
}
#blkchts{
    /*
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    */
}
.edithedm{
    background: url(/img/body/bluebg.png) repeat-x;
    color: #fff;
    text-align: left;
}
.avapweb{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.avapweb img{
    padding: 0;
    margin: 0;
}
.avapweb > span{
    position: absolute;
    padding: 3px 0;
    margin-bottom: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: bold;
}
.svoisrtv{
    padding: 4px 10px;
    text-align: left;
}
.fotov{
    position: relative;
    display: block;
    margin: 0 0 10px;
}
#hblleft img{
    max-width: 200px;
    height: 200px;
}
.fotov > div:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#lftchatb{
    height: 100%;
}
#tooltip {
    background: rgba(0,0,0,0.7); /* rgba(25,133,0,0.9); */ box-shadow: 0 1px 3px rgba(0,0,0,0.28); border-radius: 4px; color: #fff; font-weight: normal; font-size: 12px;
    -webkit-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -o-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -moz-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    white-space: nowrap; text-shadow: 0 1px 0 #262626;
    opacity:0.85;
    padding: 2px 5px;
    position:absolute;
    z-index:3000;
}
.prntvideo{
    display: inline-block;
    margin: 5px auto 0 !important;
}
.heasinemade{
    margin: 0;
    height: 25px;
    background: url(/img/body/heasinemade.png) repeat-x #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    text-align: left;
}
/* menu centr content */
.gstrv{
    display: inline-block;
    padding: 3px 10px;
    margin: 0;
    height: 25px;
    background: url(/img/body/bluebg.png) repeat-x;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.gstrvdf{
    display: inline-block;
    padding: 3px 10px;
    margin: 0;
    height: 25px;
    background: url(/img/body/bluebgdf.png) repeat-x;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
#exit{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #131313;
    text-align: right;
}
/* end menu centr content */
.wdtr50 > div{
    width: 50%;
}
.ychastak{
    padding: 3px 10px;
    margin: 0;
    background: url(/img/body/bluebg.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.ychastdf{
    padding: 3px 10px;
    margin: 0;
    background: url(/img/body/bluebgdf.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.heasinema{
    margin: 0;
    /* height: 25px; */
    background: url(/img/body/bluebg.png) repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    color: #fff;
}
.vidblk{
    border: 1px solid #ccc;
    border-top: 0;
    background: #fbfbfb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pdvid{
    padding: 10px;
}
#userlist{
    display: block;
    text-align: left;
    height: 230px;
    overflow-y: scroll;
    word-break: break-all;
}
#userlist > div{
    position: relative;
    padding: 1px 5px;
    margin: 1px 2px 0;
}
#userlist > div:hover{
    background: rgba(204, 204, 204, 0.3);
}
#userlist > div > a{
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 12px;
    text-decoration: none;
    color: #131313;
}
#userlist > div > a:hover{
    text-decoration: underline;
}
#userlist > div > img{
    margin-right: 5px;
}
.sbuttonchts > div{
    display: inline-block;
    padding: 0 5px;
    margin: 2px 3px;
    height: 17px;
    line-height: 1.5;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.phvalt{
    background: url(/img/body/bluebgdf.png) repeat-x;
}
.dats{
    background: url(/img/body/bsbtm.png) repeat-x;
}
.kick{
    background: url(/img/body/kick.png) repeat-x;
}
.sbuttonchts > div:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.stltd{
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
}
.stltd > div:first-child{
    width: 23%;
}
.stltd > div:nth-child(2){
    width: 54%;
    vertical-align: bottom;
}
.stltd > div:last-child{
    width: 23%;
    vertical-align: bottom;
}
.helloname{
    margin: 25px 0 0 0;
    font-weight: bold;
}
#webtema{
    font-size: 18px;
}
#redinfo{
    margin: 10px 0 0 20px;
    width: 80%;
    height: 60px;
    background: #e04545;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #fff;
}
#blchat{
    margin-top: 10px;
}
#blchat > textarea{
    width: 94%;
    padding: 1px 5px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
#blchat > textarea:focus{
    outline: 0;
}
#blchat .buttchat{
    display: inline-block;
    padding: 3px 10px;
    margin: 1px 0;
    background: url(/img/body/bluebg.png) repeat-x;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.chatbtm{
    margin: 3px;
    width: 100%;
}
.chatbtm > div:first-child{
    text-align: left;
    vertical-align: top;
}
.chatbtm > div:last-child{
    text-align: right;
    vertical-align: top;
}
/* message webinar */
#infwbr{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 955;
}
#infwbr > div{
    position: relative;
    display: inline-table;
    width: 100%;
    height: 100%;
}
#infwbr > div > div:first-child{
    position: absolute;
    display: block;
    min-width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 956;
    cursor: pointer;
}
#infwbr > div > div:nth-child(2){
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#wbinfs{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    z-index: 957;
}
#wbinfs a{
    color: #35bdf6;
}
#wbinfs > img{
    margin: 8px auto 20px;
}
/* end message webinar */
/* messagus webinar */
#messagblk{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 955;
}
#messagblk > div{
    position: relative;
    display: inline-table;
    width: 100%;
    height: 100%;
}
#messagblk > div > div:first-child{
    position: absolute;
    display: block;
    min-width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 956;
    cursor: pointer;
}
#messagblk > div > div:nth-child(2){
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#wbinfb2{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    z-index: 957;
}
#wbinfb2 a{
    color: #35bdf6;
}
#wbinfb2 > img{
    margin: 8px auto 20px;
}
.wb2m{
    padding: 3px 0;
}
/* end messagus webinar */
/* type pixels button */
.typebtra{
    display: inline-block;
    padding: 3px 10px;
    margin: 1px 5px;
    background: url(/img/body/bluebg.png) repeat-x;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.typebtrd{
    display: inline-block;
    padding: 3px 10px;
    margin: 1px 5px;
    background: url(/img/body/bluebgdf.png) repeat-x;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* end type pixels button */
/* chat button */
#blchat .smtext{
    display: inline-block;
    padding: 3px 11px;
    min-height: 16px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.smileicon{
    background: url(/img/body/smileicon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.dellicon{
    background: url(/img/body/dellicon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.onnicon{
    background: url(/img/body/onnicon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.officon{
    background: url(/img/body/officon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.citataicon{
    background: url(/img/body/citataicon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.imgicon{
    background: url(/img/body/imgicon.png) 50% 50% no-repeat, url(/img/body/bggbutton.png) repeat-x #b3b3b3;
}
.sus0{
    display: inline-block;
    margin-right: 8px;
    width: 9px;
    height: 9px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}
.sus1{
    display: inline-block;
    margin-right: 8px;
    width: 9px;
    height: 9px;
    background: #cc0000;
    border-radius: 50%;
    cursor: pointer;
}
.sus2{
    display: inline-block;
    margin-right: 8px;
    width: 9px;
    height: 9px;
    background: green;
    border-radius: 50%;
    cursor: pointer;
}
/* block smile */
/* title Top hover 29,2013 */
.smileicon{
    position: relative; display: block;
}
.smileicon > .blksmile:first-child{
    position: absolute; display: block; bottom: 100%; margin-left: -80px; margin-bottom: 18px; padding: 3px 10px; line-height: 1;
    opacity: 0; visibility: hidden; z-index: 1;
    background: rgba(255,255,255,1.0); /* rgba(25,133,0,0.9); */ box-shadow: 0 1px 3px rgba(0,0,0,0.28); border-radius: 4px; color: #fff; font-weight: normal; font-size: 12px;
    -webkit-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -o-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    -moz-transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    transition: visibility 0s linear 0.1s, opacity 1s cubic-bezier(0.020, 0.640, 0.000, 0.985), margin-bottom 0.2s cubic-bezier(0.190, 0.650, 0.530, 0.890);
    white-space: nowrap; text-shadow: 0 1px 0 #262626;
}
.smileicon > .blksmile:first-child > img{
    max-width: 50px;
    margin: 3px 2px;
}
.smileicon > .blksmile:first-child:after{
    content:"";
    position: absolute; width: 0; height: 0; bottom: -5px; left: 75px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255,255,255,1.0);
}
.smileicon:hover > .blksmile{
    visibility: visible; opacity: 1; margin-bottom: 8px; z-index: 12;
}
/* end title Top hover 29,2013 */
/* href icon */
.blkhref{
    position: absolute; display: none; bottom: 100%; margin-left: -120px; margin-bottom: 18px; padding: 6px 10px; line-height: 1;
    z-index: 10;
    background: rgba(255,255,255,1.0); /* rgba(25,133,0,0.9); */ box-shadow: 0 1px 3px rgba(0,0,0,0.28); border-radius: 4px; color: #fff; font-weight: normal; font-size: 12px;  white-space: nowrap; text-shadow: 0 1px 0 #262626;
}
blkhref:after{
    content:"";
    position: absolute; width: 0; height: 0; bottom: -5px; left: 65px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255,255,255,1.0);
}
.blkhrefon{
    visibility: visible; opacity: 1; margin-bottom: 8px; z-index: 12;
}
.blkhref input{
    width: 230px !important;
}
.blkhref input:focus{
    box-shadow: 0 0 0 #131313 !important;
}
/* end href icon */

.onepix{
    height: 1px;
    overflow-x: hidden;
}
.selectall{
    position: absolute;
    top: 12px;
    left: 5px;
}
.snumber input[type="number"]{
    margin: 0 2px;
    width: 60px;
    text-align: right;
    padding: 1px 3px;
    font-size: 16px;
    font-weight: bold;
}
.vremya {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.green{
    color: green;
}
.red{
    color: #cc0000;
}
.resultRach{
    margin: 8px 0 5px;
    max-height: 200px;
    background: #f6f6f6;
    overflow-y:  auto;
}
.loading{
    text-align: center;
}
.loading img{
    max-width: 30px;
}
.dspinll > div:first-child{
    padding-bottom: 3px;
}

/* pulse style */
@-webkit-keyframes pulse {
    from {
        color: red;
    }
    to {
        color: #35bdf6;
    }
}
@keyframes pulse {
    from {
        color: red;
    }
    to {
        color: #35bdf6;
    }
}
.pulse{
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    -miz-animation-name: pulse;
    -miz-animation-duration: 2s;
    -miz-animation-iteration-count: infinite;
    -miz-animation-timing-function: ease-in-out;
    -miz-animation-direction: alternate;
}
/* end pulse style */

/* nonewebinar */
#nonewebinar{
    display: none;
    width: 100%;
    height: 100%;
    background: url(http://ruelsoft.info/img/body/bgreg.png) repeat-x;
}
#nonewebinar > div{
    width: 100%;
    height: 100%;
    background: url(/img/body/polosireg.png) no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#logoregerr{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 0px;
    margin-left: -118px;
}
#errorweb{
    display: inline-block;
    padding: 40px 30px 0;
    background: #38a0f3;
    min-width: 300px;
    min-height: 100px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
/* none nonewebinar */
